/* src/styles/nav-icons.css */

.nav-icon-list {
    @apply relative flex items-center gap-4;
}

.nav-icon-item {
    @apply relative list-none w-10 h-10 bg-card shadow-md rounded-full cursor-pointer flex justify-center items-center transition-all duration-300 ease-in-out;
}

/* Fond dégradé, visible au survol ou si actif */
.nav-icon-item .nav-icon-background {
    @apply absolute inset-0 rounded-full opacity-0 transition-opacity duration-300;
    background: linear-gradient(45deg, var(--i), var(--j));
}

.nav-icon-item:hover .nav-icon-background {
    @apply opacity-100;
}

.nav-icon-item.w-40 .nav-icon-background {
    @apply opacity-100;
}


/* Lueur extérieure, visible au survol ou si actif */
.nav-icon-item::after {
    content: "";
    @apply absolute top-2.5 w-full h-full rounded-full transition-opacity duration-300 -z-10 opacity-0;
    background: linear-gradient(45deg, var(--i), var(--j));
    filter: blur(15px);
}

.nav-icon-item:hover::after {
    @apply opacity-50;
}

.nav-icon-item.w-40::after {
     @apply opacity-50;
}


/* Style de l'icône */
.nav-icon-item .icon {
    @apply text-muted-foreground transition-all duration-200 z-10;
}

.nav-icon-item .icon > svg {
    @apply h-5 w-5;
}

.nav-icon-item:hover .icon {
    @apply text-white;
}

/* Style du titre */
.nav-icon-item .title {
    @apply absolute text-white text-base tracking-wider uppercase z-10 select-none;
}
