/* --- Neumorphic Button Style --- */
.button {
  width: 100%;
  height: 50px;
  cursor: pointer;
  background: #333;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
  color: #ccc;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  gap: 1rem;
  transition: 500ms;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
  font-size: 16px;
  color: #fff;
}

.button:focus {
  outline: none;
}

.red:hover {
  color: #f07171;
  text-shadow: 0px 0px 10px #f07171;
}

.green:hover {
  color: #93f071;
  text-shadow: 0px 0px 10px #93f071;
}

.blue:hover {
  color: #71b7f0;
  text-shadow: 0px 0px 10px #71b7f0;
}

.purple:hover {
  color: #b971f0;
  text-shadow: 0px 0px 10px #b971f0;
}

.orange:hover {
  color: #ffa726;
  text-shadow: 0px 0px 10px #ffa726;
}

.pink:hover {
  color: #f48fb1;
  text-shadow: 0px 0px 10px #f48fb1;
}

.cyan:hover {
  color: #80deea;
  text-shadow: 0px 0px 10px #80deea;
}
